
/*FONT USADA*/
@font-face {
    font-family: 'Kollektif Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Kollektif Regular'), url('../fonts/Kollektif.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Kollektif Italic'), url('../fonts/Kollektif-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Kollektif Bold'), url('../fonts/Kollektif-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Kollektif Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Kollektif Bold Italic'), url('../fonts/Kollektif-BoldItalic.woff') format('woff');
}
@font-face {
        font-family: 'Montserrat Light';
        font-style: normal;
        font-weight: normal;
        src: local('Montserrat Light'), url('../fonts/Montserrat-Light.woff') format('woff');
}

/*CONFIG GERAIS*/
html {
    font-size: 62.5% !important; /*Mudando a configuração padrão da FONT no documento html de 16px para 10px. Facilita calcular o Rem que agora vale 10px. Para voltar ao padrão retirar ou colocar 100%.*/
}
* {
    margin: 0px !important;
    padding: 0px !important;
    box-sizing: border-box !important;
}
body {
    background-color: black !important;
    font-family: 'Montserrat Light', sans-serif !important;
}
h1,
h2,
h4,
h5 {
    font-family: 'Kollektif Bold', sans-serif !important;
}
h1,
h2,
h3 {
    text-transform: uppercase !important;
}
h2,
h4,
h5,
ul {
    align-self: flex-start !important;
}
h2 {        
    letter-spacing: 0.2rem !important;
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
}
a {
    text-decoration: none !important;
}
h4 {
    font-size: 1.8rem !important;
    font-weight: 400 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
h5 {
    font-size: 1.7rem !important;
    font-weight: 400 !important;
    margin-bottom: 0.5rem !important;
}
ul {
    font-size: 1.6rem !important;
    margin-left: 2rem !important;
}
li {
    line-height: 2.3rem !important;
}

/*INÍCIO*/
.area--geral {
    max-width: 144rem !important;
    width: 100% !important;
    background-color: white !important;
    margin: auto !important;
}
.area--conteudo {
    max-width: 128rem !important;
    width: 100% !important;
    margin: auto !important;
    display: grid !important;
    grid-template-areas: 
        "perfil experiencia"
        "resumo experiencia"
        "aptidoes formacao"
        "trabalhar apresentacao"
        "certificados certificados"
        "certificados certificados"    
        !important;
}
.container--conteudo {
    display: flex !important;    
    flex-direction: column !important;
    max-width: 50rem !important;
    align-items: center !important;
    margin: auto !important;
}

/*PERFIL*/
.perfil {
    grid-area: perfil;
    border-bottom: 0.2rem solid black;
    display: flex;
}
.perfil--conteudo img {
    border-radius: 50%;
    margin-bottom: 3rem !important;
}
.perfil--conteudo h1 {
    font-size: 5rem;        
    letter-spacing: 0.5rem;
    text-align: center;
    margin-bottom: 1rem !important;
}
.perfil--conteudo h3 {
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}

/*RESUMO*/
.resumo {
    grid-area: resumo;     
    border-bottom: 0.2rem solid black;
    display: flex;  
}
.resumo .resumo--conteudo p {
    font-size: 1.6rem;
}

/*APTIDÕES*/
.aptidoes {
    grid-area: aptidoes;    
    border-bottom: 0.2rem solid black;
    padding: 5rem 0rem !important;
}

/*TRABALHAR*/
.vamos-trabalhar {
    grid-area: trabalhar;
    display: flex;
}
.trabalhar--conteudo span {
    align-self: flex-start;
    font-size: 1.6rem;
    margin-bottom: 0.8rem !important;
}

/*EXPERIÊNCIA*/
.experiencia {
    grid-area: experiencia;
    border-bottom: 0.2rem solid black;
    border-left: 0.4rem solid black;
    padding: 5rem 0rem !important;
}

/*FORMAÇÃO*/
.formacao {
    grid-area: formacao;
    border-bottom: 0.2rem solid black;
    border-left: 0.4rem solid black;
    padding: 5rem 0rem !important;
}

/*APRESENTAÇÃO*/
.apresentacao {
    grid-area: apresentacao;
    border-left: 0.4rem solid black;
    padding: 5rem 0rem !important;
}
.apresentacao img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

/*CERTIFICADOS*/
.certificados {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: certificados;
    border-top: 3rem solid black;
    border-radius: 10%;
    margin-top: 0.001rem !important;
}
.certificados--conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.certificados h2 {
    padding-top: 3rem;
    align-self: center !important;
}

/*RESPONSIVIDADE*/
@media (min-width: 768px) and (max-width: 1279px) {
    .area--geral {
        width: 100% !important;
        overflow: hidden !important;
    }
    .area--conteudo {
        width: 100% !important;
        grid-template-areas: 
            "perfil"
            "resumo"
            "aptidoes"
            "experiencia"
            "formacao"
            "apresentacao"
            "trabalhar"
            "certificados" !important;  
        
    }
    .container--conteudo {
        max-width: 100% !important;
    }
    .perfil {
        align-content: center;
        justify-content: center;
        padding: 5rem 0rem !important;
    }
    .resumo {
        padding: 5rem 5rem !important; 
    }
    .aptidoes {
        padding: 5rem 5rem !important;
    }
    .experiencia {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .formacao {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .apresentacao {
        border-left: unset;
        padding: 5rem 5rem !important;
        border-bottom: 0.2rem solid black;
    }
    .apresentacao img {
        width: 100%;
    }
    .vamos-trabalhar {
        padding: 5rem 5rem !important;
    }
}

@media (min-width: 551px) and (max-width: 767px) {
    .area--geral {
        width: 100% !important;
        overflow: hidden !important;
    }
    .area--conteudo {
        width: 100% !important;
        grid-template-areas: 
            "perfil"
            "resumo"
            "aptidoes"
            "experiencia"
            "formacao"
            "apresentacao"
            "trabalhar"
            "certificados" !important;  
        
    }
    .container--conteudo {
        max-width: 100% !important;
    }
    .perfil {
        align-content: center;
        justify-content: center;
        padding: 5rem 0rem !important;
    }
    .resumo {
        padding: 5rem 5rem !important; 
    }
    .aptidoes {
        padding: 5rem 5rem !important;
    }
    .experiencia {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .formacao {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .apresentacao {
        border-left: unset;
        padding: 5rem 5rem !important;
        border-bottom: 0.2rem solid black;
    }
    .apresentacao img {
        width: 100% !important;
    }
    .vamos-trabalhar {
        padding: 5rem 5rem !important;
    }
}

@media (max-width: 550px) {
    .area--geral {
        width: 100% !important;
        overflow: hidden !important;
    }
    .area--conteudo {
        width: 100%;
        grid-template-areas: 
            "perfil"
            "resumo"
            "aptidoes"
            "experiencia"
            "formacao"
            "apresentacao"
            "trabalhar"
            "certificados" !important;  
        
    }
    .container--conteudo {
        max-width: 100% !important;
    }
    .perfil {
        align-content: center;
        justify-content: center;
        padding: 5rem 0rem !important;
    }
    .perfil--conteudo img {
        width: 16rem;
    }
    .perfil--conteudo h1 {
        font-size: 3rem;
    }
    .perfil--conteudo h3 {
        font-size: 1.5rem;
    }
    .resumo {
        padding: 5rem 5rem !important; 
    }
    .aptidoes {
        padding: 5rem 5rem !important;
    }
    .experiencia {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .formacao {
        border-left: unset;
        padding: 5rem 5rem !important;
    }
    .apresentacao {
        border-left: unset;
        padding: 5rem 5rem !important;
        border-bottom: 0.2rem solid black;
    }
    .apresentacao img {
        width: 100%;
    }
    .vamos-trabalhar {
        padding: 5rem 5rem !important;
    }
}